body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #ffffff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.bomb-square {
  background: #FF7373;
}

.hidden-square {
  background: #3AA3FF;
}

.cleared-square {
  background: #CCE7FF;
}

/*
 * Describe the text colors for squares that contain
 * this value.
 */
.color-0 {

}

.color-1 {
  color: #117A65;
}

.color-2 {
  color: #6C3483;
}

.color-3 {
  color: #D68910;
}

.color-4 {
  color: #FA8072;
}

.color-5 {
  color: #2874A6;
}

.color-6 {
  color: #17202A;
}

.color-7 {
  color: #17202A;
}

.color-8 {
  color: #17202A;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
