@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.restart-game {
    font: 25px 'Dosis';
    color: #232b2b;
    background: #ffffff;
    border-radius: 10px;
    border-color: #232b2b;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.restart-game:hover {
    background: #232b2b !IMPORTANT;
    color: #ffffff;
}
